/* container */
.container {
  width: 1000px;
  margin: 0 auto;
}

/* row */
.row {
  position: relative;
  margin: 0 20px;
}

/* header */
#header .header-data {
  display: inline-block;
  padding-top: 30px;
  color: #a8a8a8;
  font-weight: 600;
  font-size: 12px;
}
#header .header-title {
  margin-bottom: 10px;
  padding-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
}
#header .header-id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(150.95deg, #a4a9b5 6.43%, rgba(164, 169, 181, 0) 82.14%), #c4c4c4;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

/* bestM */
.bestM .best-title .bt-stit {
  color: #da5e7c;
  font-size: 12px;
  line-height: 20px;
}
.bestM .best-title .bt-tit {
  padding-bottom: 5px;
  font-size: 22px;
}
.bestM .best-title .bt-desc {
  margin-bottom: 10px;
  color: #818181;
  font-size: 22px;
  font-weight: 300;
}

/* recentM */
.recentM {
  overflow: hidden;
  margin-top: 19px;
  padding: 10px 0;
}
.recentM .recent {
  float: left;
  margin-right: 2%;
  width: 49%;
}
.recentM .recent:last-child {
  margin-right: 0;
}
.recentM h2 {
  margin-top: 16px;
  margin-bottom: 12px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
  font-size: 20px;
  font-weight: bold;
}
.recentM .recent-title .rt-stit {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.9;
}
.recentM .recent-title .rt-tit {
  color: #908f94;
  font-size: 15px;
  font-weight: 300;
}

/* nextM */
.nextM {
}
.nextM h2 {
  margin-top: 16px;
  margin-bottom: 12px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
  font-size: 20px;
  font-weight: bold;
}
.nextM .next {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}
.nextM .next::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  width: calc(100% - 114px);
  height: 1px;
  background: #ebebeb;
}
.nextM .next .next-img {
  margin-right: 12px;
  width: 102px;
}
.nextM .next .next-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nextM .next .next-tit .nt-stit {
  color: #da527c;
  font-size: 12px;
}
.nextM .next .next-tit .nt-tit {
  font-size: 16px;
}
.nextM .next .next-tit .nt-desc {
  overflow: hidden;
  display: -webkit-box;
  color: #a1a1a1;
  font-size: 13px;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
